* {
    margin: 0px;
    padding: 0px;
}

/* nav related style */

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 10px;
}

.menus{
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 17px;
    font-style: italic;
}

/* banner related style */